PORT=4000
MONGODB_URI=mongodb://localhost:27017/tours-travels
CLIENT_ORIGIN=http://localhost:3000,http://localhost:3001,https://tours-travels-admin.vercel.app
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
